# Ignore the LLaMA model binary file
CPU_llama/model

# Ignore the FineTune results directory
FineTune_Llama_Custom_data/results

# Ignore the new finetune directory
Llama-2-7b-chat-new-finetune

# # Ignore the environment file
Source_code_analysis/.env

# # Ignore the test repository directory
# Source_code_analysis/test_repo

Source_code_analysis/data
Source_code_analysis/db

Rag_from_scratch/.env
Rag_from_scratch/train_test_qa_url.txt
Rag_from_scratch