accelerate
aitextgen
arrange
bitsandbytes
google-generativeai
huggingface_hub
ipywidgets
langchain
langchain_google_genai
numpy
openai
pandas
pdf2image
pdfminer
pinecone-client
pypdf
python-dotenv
sentence_transformers
semanticscholar
streamlit
tiktoken
torchtext
torchviz
transformers
unstructured
rouge-score
rouge
python-magic
opencv-python
pillow-heif
pdfminer.six
accelerate
tensorboardX
peft
ctransformers
sentence-transformers
flask
faiss-cpu
langchain-community
bitsandbytes
trl
# -e .
# pip install --upgrade jupyter ipywidgets