accelerate
aitextgen
arrange
bitsandbytes
google-generativeai
huggingface_hub
ipywidgets
langchain
langchain_google_genai
numpy
openai
pandas
pdf2image
pdfminer
pinecone-client
pypdf
python-dotenv
sentence_transformers
semanticscholar
streamlit
tiktoken
torchtext
torchviz
transformers
unstructured
rouge-score
rouge
python-magic
opencv-python
pillow-heif
pdfminer.six
accelerate
tensorboardX
peft
trl
tiktoken
seaborn
weaviate-client
bert_score
evaluate
wandb
GitPython #clone the repository
chromadb
llama-index
llama-index-llms-huggingface
llama-index-embeddings-huggingface
llama-index-embeddings-instructor
llama-index-vector-stores-weaviate
# pip install --upgrade jupyter ipywidgets